.background {
  background-color: rgb(171, 193, 151);
  min-height: 100vh;
  padding-top: 3%;
}

.titleCss {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
  background-color: rgb(242, 214, 136);
  border-radius: 10px;
  padding: 3px;
}

.questionCss {
  width: 60%;
  text-align: left;
  margin-left: 20%;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgb(242, 214, 136);
  border-radius: 10px;
  border: 3px black solid;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  line-height: 3;
}

.pieSize {
  width: 300px;
  height: 300px;
  margin: 3%;
}

.btnDivCss {
  width: 95%;
  height: 10%;
  text-align: right;
  margin: 30px;
  padding-bottom: 20px;
}

.btn2Css {
  font-size: 15px;
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(242, 214, 136);
  cursor: pointer;
}

// .pieSize canvas {
//   width: 400px !important;
//   height: 300px !important;
// }
